<!DOCTYPE html>
<html lang='en' class=''>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="icon" href="/images/icon.jpg">

    @!section("styles")

  </head>
  <body>
    <div class="container clearfix" id = "main">
      <div class = "row" style = "padding: 0; /*max-height: 600px; overflow: hidden;*/">

        @!section("content")

      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    @!section("scripts")

  </body>
</html>
